@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;

}

h1 {
    margin-bottom: 20px;
    /* animation: TopToBottomAnimation 5s */
}

@keyframes TopToBottomAnimation {
    from {
        transform: translateY(-100px);

    }

    to {
        transform: translateY(0px);

    }
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/bg_img.webp");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);

}

input {
    all: unset;
    margin-bottom: 20px;
    margin-top: 5px;
    border-bottom: 1px solid black;
    width: 250px;
    caret-color: teal;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* border: 1px solid teal; */
    /* padding: 40px; */
    overflow: hidden;
    padding-right: 10px;
    border-radius: 12px;
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 30px black;
    animation: InAndOutAnimation 2s;
}

.form {
    width: auto;
}

.image {
    width: 400px;
    height: 400px;
    background-image: url("../images/login_img.jpg");
    background-size: cover;
}

form label {
    display: block;
    font-weight: bold;
    color: teal;
}

h1 span {
    color: teal;
}

/* h1 {
    font-size: 40px;
} */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    position: relative;
}

@keyframes InAndOutAnimation {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

.real-form {
    margin-top: 20px;
}

.welcome {
    position: absolute;
    top: -50%;
    left: 20px;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    color: teal;
}

input::placeholder {
    font-size: 14px;
}


.button-wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    all: unset;
    width: 100px;
    cursor: pointer;
    border: 1px solid teal;
    padding: 3px;
    border-radius: 8px;
    animation: floatinButtonAnimation infinite 2s;
    position: relative;
    transition: .3s all ease;
    margin-bottom: -100px;
    padding-inline: 20px;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: teal;
        z-index: -1;
        transition: .3s all ease;
    }

    &:hover::after {
        width: 100%;
    }

    &:hover {
        color: white;
    }
}

@keyframes floatinButtonAnimation {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(5px);
    }
}


@media (max-width: 768px) {
    .image {
        display: none;
    }

    form {
        padding-top: 100px;
        padding-inline: 40px;
    }
}